.outlet_body {
  margin-top: -80px;
  padding-top: 50px;
  padding-bottom: 40px;
  height: 100vh;
  background: url('assets/images/background.jpg') rgba(18,157,216,1) no-repeat top center;
  background-size: cover;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"],.form-signin input[type="text"] {
  margin-bottom: 10px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
  border-radius: 0;
}
.form-signin input[type="text"] {
  background: url('assets/images/icono_user.png') no-repeat left center;
}
.form-signin input[type="password"] {
  background: url('assets/images/icono_password.png') no-repeat left center;
}
.form-signin input::-webkit-input-placeholder { / WebKit, Blink, Edge /
  color:    white;
}
.form-signin input::-moz-placeholder { / Mozilla Firefox 4 to 18 /
  color:    white;
}
.form-signin input::-moz-placeholder { / Mozilla Firefox 19+ /
  color:    white;
}
.form-signin input::-ms-input-placeholder { / Internet Explorer 10-11 /
  color:    white;
}
.form-signin a {
  color: white;
}
.btn-login {
	background-color: rgba(21,51,95,1);
	border-radius: 20px;
	margin-top: 40px;
  color: white;
}
.logo {
	margin-bottom: 70px;
  background-color: transparent;
}