<div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-close">
      <button type="button" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="branch">
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="col-sm-10" [(ngModel)]="branch.name"
                  name="name" required/>
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="col-sm-3 control-label">Status</label>
              <div class="col-sm-9">
                <select [(ngModel)]="branch.status" class="col-sm-10" name="status" required>
                  <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-3 control-label">Address</label>
              <div class="col-sm-9">
                <input type="text" class="col-sm-10" [(ngModel)]="branch.address"
                  name="address" required >
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2 map">
                <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                  <sebm-google-map-marker
                    *ngIf="branchMarker"
                    [latitude]="branchMarker.lat"
                    [longitude]="branchMarker.lng"
                    [label]="branchMarker.label"
                    [markerDraggable]="branchMarker.draggable"
                    (dragEnd)="markerDragEnd($event)">
                  </sebm-google-map-marker>
                </sebm-google-map>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-round-modal">SAVE</button>
          <button type="button" class="btn btn-danger btn-round-modal" (click)="onClose()">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>
