/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: rgba(18,157,216,1);
  padding-top: 80px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  background-image: url("/assets/images/menu-bar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-box-shadow: 1px 0 9px 0 #D6D6D6;
  box-shadow: 1px 0 9px 0 #D6D6D6;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #122b51;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.logo {
  background-color: #37beea;
  border-bottom: #0C305C;
}
#logoImage {
  padding: 15px;
}

.nav-sidebar {
  margin-top: 40px;
}
.nav-sidebar img {
  padding-right: 15px;
}
.avatar {
  width: 48px;
  height: 48px;
}
.current-user {
  line-height: 60px;
  font-size: 14px;
  color: #0C305C;
}
.logout {
  margin-top: 18px !important;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 0px solid #800000;
  background-color: #0C305C;
  color: #FFF;
}
.btn-round {
  margin-top: 18px !important;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 0px solid #800000;
  background-color: #0C305C;
  color: #FFF;
}

a:hover .btn-round {
  margin-top: 18px !important;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 0px solid #800000;
  background-color: #0C305C;
  color: #FFF;
}

.tools {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}
.tools img {
  cursor: pointer;
  padding-right: 10px;
}
.btn-round-modal {
  margin-top: 18px !important;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 0px solid #800000;
  background-color: none;
  color: #FFF;
  min-width: 100px;
}
.map {
  border: 3px solid #30b6e7;
  padding: 0;
}
.sebm-google-map-container {
  height: 180px;
}
.ng-valid[required] {
  /*border-left: 5px solid #42A948;*/
}
.ng-invalid {
  /*border-left: 5px solid #a94442; red */
}
#loader {
  position: absolute;
  opacity: 0.70;
  background-color: #FFF;
  z-index: 99999;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
}
#loader img {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
}
h1 {
  color: white;
}