<!-- Header-->
<app-header></app-header>
<!-- Menu -->
<side-menu></side-menu>
<!-- Main -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
          <img class="" src="assets/images/icons/lg-sites.png"/>
        </div>
        <div class="col-xs-2">
          <h3>{{title}}</h3>
        </div>
        <div class="col-xs-3 col-xs-offset-3">
          <a class="btn btn-primary btn-round-modal" [routerLink]="['/branches/new']">ADD BRANCH</a>
        </div>
      </div>
      <br/>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Status</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let branch of branches">
              <td>{{branch.name}}</td>
              <td>{{branch.address}}</td>
              <td>{{branch.status}}</td>
              <td class="tools">
                <a [routerLink]="['/branches', branch.id, '/edit']" title="Edit">
                  <img src="/assets/images/ic_edit.png" />
                </a>
                <a [routerLink]="['/branches', branch.id]" title="Show">
                  <img src="/assets/images/ic_show.png" />
                </a>
                <img [src]="statusImage(branch)"    (click)="state(branch)" />
                <img src="/assets/images/ic_trash.png"  (click)="destroy(branch)" title="Delete"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
