<div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-close">
      <button type="button" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body"  *ngIf="user">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="user">User</label>
            <div class="col-sm-9">
              <input type="text"
                    class="form-control"
                    id="user"
                    [ngModel]="user.user"
                    formControlName="user">
            </div> 
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Name</label>
            <div class="col-sm-9">
              <input type="text"
                    class="form-control"
                    id="name"
                    [ngModel]="user.name"
                    formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name" class="col-sm-3 control-label">Role</label>
            <div class="col-sm-9">
              <select 
                  class="form-control"
                  id="role"
                    [ngModel]="user.role"
                  formControlName="role">
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
              </select>
            </div>
          </div>
          <div formArrayName="modules">
            <h3>Permissions</h3>
            <div class="col-sm-3"></div>          
            <div class="col-sm-9">
              <div class="checkbox" *ngFor="let m of myForm.find('modules').controls; let i = index">
                <label class="control-label">
                  <input type="checkbox"
                          [formControlName]="i"
                          [value]="m">
                  {{modules_labels[i]}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-round-modal" [disabled]="!myForm.valid">SAVE</button>
          <button type="button" class="btn btn-danger btn-round-modal" (click)="onClose()">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>


