
<!-- Header-->
<app-header></app-header>
<!-- Menu -->
<side-menu></side-menu>

<!-- Main -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <p class="bg-danger" *ngIf="msgError">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{msgError}}
    </p>
    <div class="well">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-2">
          <img class="" src="/assets/images/icons/lg-sites.png"/>
        </div>
        <div class="col-xs-2">
          <h3>{{title}}</h3>
        </div>
        <div class="col-xs-3 col-xs-offset-3">
          <a class="btn btn-primary btn-round-modal" [routerLink]="['/messages/new']">
            {{add}}
          </a>
        </div>
      </div>
      <br/>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{name}}</th>
              <th>{{role}}</th>
              <th>{{description}}</th>
              <th>{{status}}</th>
              <th>{{options}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages">
              <td>{{message.name}}</td>
              <td>{{message.role}}</td>
              <td>{{message.description}}</td>
              <td>{{message.status}}</td>
              <td class="tools">
                <a [routerLink]="['/messages', message.id, '/edit']" title="Edit">
                  <img src="/assets/images/ic_edit.png" />
                </a>
                <a [routerLink]="['/messages', message.id]" title="Show">
                  <img src="/assets/images/ic_show.png" />
                </a>
                <img [src]="statusImage(message)"       (click)="state(message)" />
                <img src="/assets/images/ic_trash.png"  (click)="destroy(message)" title="Delete"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>