<div id="myModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-close">
      <button type="button" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="message">
            <div class="form-group">
              <label for="name" class="col-sm-3 control-label">{{name}}</label>
              <div class="col-sm-9">
                <input type="text" class="col-sm-10" [(ngModel)]="message.name"
                  name="name" maxlength="20" required/>
              </div>
            </div>
            <div class="form-group">
              <label for="role" class="col-sm-3 control-label">Role</label>
              <div class="col-sm-9">
                <select [(ngModel)]="message.role" class="col-sm-10" name="role" required>
                  <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="language" class="col-sm-3 control-label">Language</label>
              <div class="col-sm-9">
                <input type="text" class="col-sm-10" [(ngModel)]="message.language"
                  name="language" required/>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-3 control-label">Description</label>
              <div class="col-sm-9">
                <input type="text" class="col-sm-10" [(ngModel)]="message.description"
                  name="description" required/>
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="col-sm-3 control-label">Status</label>
              <div class="col-sm-9">
                <select [(ngModel)]="message.status" class="col-sm-10" name="status" required>
                  <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-round-modal">SAVE</button>
          <button type="button" class="btn btn-danger btn-round-modal" (click)="onClose()">CANCEL</button>
          <div class="error" *ngIf="msgError">{{msgError}}</div>
        </div>
      </div>
    </form>
  </div>
</div>
