<!doctype html>
<html>
<head>
  <base href="/">
  <title>Carpool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-override.css">
  <link rel="stylesheet" href="assets/css/layout.css">
  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
  <div id="loader">
    <img src="assets/images/loader.gif" />
  </div>
  <div class="container-fluid">
    <div class="row">
      <app-root>Loading...</app-root>
    </div>
  </div>
  {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
  {{/each}}
  <script>
    System.import('system-config.js').then(function () {
      System.import('main');
    }).catch(console.error.bind(console));
  </script>
</body>
</html>
